/* Css Reset*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/*Css Variables*/

:root{
    --navbar-height:59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

/*  Navigation Bar : Logo and Image */
#logo{
    margin: 0px 5px;
}
#logo img{
   width: 120px;
   height: 120px;
}

/* Navigation Bar : List styling */
#navbar{
    position: absolute;
    height: 90px;
}
#navbar ul{
    display: flex;
    margin-left: 10px;
}
#navbar::before{
    content: '';
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a {
    color:white;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 50px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    transition: all 1s ease-in-out ;
}
#navbar ul li a:hover {
   /* background-color: white; */
   background-color: #b3cdd1;
background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);

   color:black;
}

/* Home Section Designing */

#home::before{
    content: '';
    background:url('bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight: bolder;
    text-shadow: 2px 3px 5px grey;
    text-align: center;
    height: 650px;
    
}
#home p{
    font-size: 1.2rem;
    color:black;
    text-align: center;
    /* font-family: 'Bree Serif', serif; */
}
/* About Us container */
#about{
    margin: 34px;
    display: flex;
    
}
#about .box{
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 34px;
    margin:3px 6px;
    border-radius: 50px;
    color:white;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    transition: all 1s ease-in-out ;

}

#about .box:hover{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    transform: scale(1.1);
}
#aboutHeading{
    color: #04619F;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
    /* margin:2% */
}
.Aboutus-container{
    /* background: url('Group_1.png') ; */
    height: 600px;
    margin-top: 30px;
}
.Aboutus-container::before{
    content: '';
    background: url('Group_1.png') no-repeat ;
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}


/* Utility Classes */
 .center{
     text-align: center;
 }
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secendory{
    font-size: 1.8rem;
    padding: 12px;
    /* color:white; */
}
#home .btn{
    padding: 6px 20px;
    border:none;
    background: rgb(144,144,241);
    background: radial-gradient(circle, rgba(144,144,241,1) 0%, rgba(93,199,236,1) 51%, rgba(255,255,255,1) 100%);

    color: black;
    margin: 17px 17px;
    font-size: 1.5rem;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 2px 2px 8px rgb(82, 81, 81);
    text-shadow: 2px 2px 8px grey;
    cursor: pointer;
    transition:all 0.5s ease-in-out 0s;
    animation: movingBackground 5s ease-in infinite;
    background-size: 200%;
}
#home .btn:hover{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color:white;
    border: none;
    box-shadow: 0px 0px 0px rgb(82, 81, 81);
    text-shadow: 0px 0px 0px grey;
    font-size: 1.6rem;
    border-radius: 50px;
}

.footer{
    background: rgb(146,210,235);
    background: radial-gradient(circle, rgba(146,210,235,1) 0%, rgba(21,82,245,1) 35%, rgba(50,0,97,1) 100%);
    color:white;
    text-shadow: 3px 3px 8px rgb(0, 0, 0);
    padding: 10px ;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    animation: movingBackground 5s ease-in infinite;
    background-size: 200%;
}
@keyframes movingBackground{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}




/* Form Styling  */


/*Form Section*/
.form-container{
    /* border:3px solid black; */
    height: 750px;
    /* margin-top: 105px; */
}
#formSectionHeading{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    font-size: 2.1rem;
    font-family: 'Bree Serif', serif;
    transition:background-image 10s ease-in 0s;
    animation: movingBackground 5s ease-in infinite;
    background-size: 200%;
}
#formSectionHeading:hover{
    /* background-color: #000000; */
    background-image: linear-gradient(147deg, #04619f 0%, #000000 74%);
}
.form-container::before{
    content: '';
    /* background-color: #000000; */
    background: url('Group_2.png') no-repeat ;
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    
}
.formBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94%;
    width: 100%;
    margin-top: -6px;
}

#mainformid{
    /* border: 2px solid #130f40; */
    background-color: #000000;
    background-image: linear-gradient(147deg, #352d57 0%, #04619f 74%);
    /* background-color: #FFFFFF;
    background-image: linear-gradient(90deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 98%;
    width: 85%;
    box-shadow: 11px 11px 21px rgb(59, 59, 59);
    animation: movingBackground 12s ease-in infinite;
    background-size: 200%;
    opacity: 0.99;
}
.mainContent-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    height: 92%;
    /* border:5px so lid hotpink; */
    background-color: white;
    box-shadow: -6px 4px 30px rgb(41, 41, 41);
    margin:0px 20px;
    transition: all 15s ease-in-out ;
    font-family: 'Monster';
    border-radius: 10px;
}
.mainContent-form:hover{
    transform: scale(1.04);
}
.side-bg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 92%;
    background-color: #7f5a83;
    background-color: #5de6de;
    background-image: linear-gradient(215deg, #5de6de 0%, #b58ecc 74%);
    animation: movingBackground 8s ease-in infinite;
    background-size: 200%;
    box-shadow: 10px 4px 28px rgb(46, 46, 46);
    /* transform: rotate(200deg); */
    /* transform: skew(-2deg); */
    /* border: 5px solid red; */
    border-radius: 10px;
    transition: all 1s ease-in-out ;
}
.side-bg-form:hover{
    transform: scale(1.04);
    
}
#side-bg-form-text{
    /* background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 3%, rgba(255,153,0,1) 37%, rgba(133,255,153,1) 100%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: 6px 6px 20px rgb(37, 37, 37);
    font-family: 'Arimo', sans-serif;
    
}
#side-bg-form-text::first-letter {
    font-size: 150%;
  }



  /* FOrm design */
  
#form-id-heading{
    font-size: 2rem;
    font-family: 'Yusei Magic', sans-serif;
    /* margin-bottom: 50px; */
    margin-top: 40px;
}
label {
    float: left;
    text-align: right;
    margin-right: 20px;
    width: 200px;
  }
  textarea:focus,
  input:focus {
    border: 2px solid rgb(255, 255, 255);
  }
  .mainFormContent{
    font-family: 'Yusei Magic', sans-serif;
    margin-top: 10px;
    margin-bottom:50px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    padding: 10px;
  }
  input[type=submit] {
      font-weight: bold;
    padding:10px 20px; 
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    font-size: large;
    font-weight: bolder;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    box-shadow: 4px 4px 25px rgb(105, 105, 105);
    text-shadow: 2px 2px 8px rgb(168, 168, 168);
}
input[type=submit]:hover{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color:rgb(78, 245, 78);
    box-shadow: 0px 0px 0px rgb(82, 81, 81);
    text-shadow: 0px 0px 0px grey;
    font-size: 1.2rem;
}


input[type=text],input[type=radio],
input[type=file],textarea,
input[type=email],input[type=tel],
input[type=number],input[type=resumeLink]
{
    padding: 5px;
    border-radius: 10px;
}


.form-address,
.form-gender,
.form-city,
.form-state,
.form-pincode,
.form-phone,
.form-email,
.form-uploadCV,
.form-submit
{
    margin-top: 20px;
}